*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn 
/Artifacts/*
/Trading.Receiver.Api/Logs
/Trading.Receiver.Api/Logs/readme.txt
/Trading.Receiver.Api/Properties/PublishProfiles
/Trading.Responder.Api/Logs
/Trading.Responder.Api/Logs/readme.txt
/Trading.Responder.Api/Properties/PublishProfiles
/Trading.Service.Api/Logs
/Trading.Service.Api/Logs/readme.txt
/Trading.Service.Api/Properties/PublishProfiles
/Trading.Desktop/Logs
/Trading.Desktop/Logs/readme.txt
/Trading.Desktop/Properties/PublishProfiles
/.vs
*.log
*.v2
/packages
/src/Trading.Desktop/Properties/licenses.licx
*.licx
